<% nav_items = @current_user ? [
  { title: "Dashboard", href: dashboard_path },
  { title: "Roles", href: roles_path },
  { title: "Organizations", href: organizations_path }
] : [
  { title: "Log In", href: new_session_path },
  { title: "Sign Up", href: new_user_path }
] %>

<div class="border-sidebar-border/80 border-b" data-controller="header">
  <div class="mx-auto flex h-16 items-center px-4 md:max-w-7xl">
    <!-- Mobile Menu -->
    <div class="lg:hidden">
      <button data-action="click->header#toggleMobileMenu" class="flex justify-center items-center mr-2 h-[34px] w-[34px] rounded-md bg-transparent p-0 text-neutral-900 hover:bg-gray-100 cursor-pointer">
        <svg class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </button>
      <div data-header-target="mobileOverlay" class="fixed inset-0 z-40 hidden bg-black/80 transition-opacity duration-500 ease-in-out"></div>
      <div data-header-target="mobileDrawer" class="fixed inset-y-0 left-0 z-50 w-64 bg-white border-r border-gray-200 shadow-lg transform transition-transform duration-500 ease-in-out sm:max-w-sm -translate-x-full hidden">
        <div class="flex h-full flex-col items-stretch justify-between p-4">
          <div class="flex justify-start">
            <%= image_tag "/icon.svg", class: "h-6 w-6 text-neutral-900", alt: "Phoenix Logo" %>
            <span class="sr-only">Phoenix</span>
          </div>
          <div class="flex flex-1 flex-col space-y-4 py-8 text-sm">
            <div class="flex h-full flex-col justify-between">
              <div class="flex flex-col space-y-4">
                <% nav_items.each do |item| %>
                  <%= link_to item[:title], item[:href], class: "flex items-center space-x-2 font-medium text-neutral-900 #{request.path == item[:href] ? 'text-neutral-900' : ''}", data: { action: "click->header#toggleMobileMenu" } %>
                <% end %>
              </div>
            </div>
          </div>
          <button data-action="click->header#toggleMobileMenu" class="cursor-pointer absolute top-4 right-4 rounded-md opacity-70 transition-opacity hover:opacity-100 focus:bg-gray-100 hover:bg-gray-100 p-1">
            <svg class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
      </div>
    </div>

    <!-- Logo -->
    <%= link_to root_path, class: "flex items-center space-x-2" do %>
      <div class="flex aspect-square size-8 items-center justify-center rounded-md">
        <%= image_tag "/icon.svg", class: "size-5 stroke-current text-white", alt: "Phoenix Logo" %>
      </div>
      <div class="ml-1 grid flex-1 text-left text-sm">
        <span class="mb-0.5 truncate leading-none font-semibold text-neutral-900">Phoenix</span>
      </div>
    <% end %>

    <!-- Desktop -->
    <div class="ml-6 hidden h-full items-center space-x-6 lg:flex">
      <nav class="group/navigation-menu relative flex max-w-max flex-1 items-center justify-center h-full items-stretch space-x-2">
        <% nav_items.each do |item| %>
          <div class="relative flex h-full items-center">
            <%= link_to item[:title], item[:href], class: "group inline-flex h-9 w-max items-center justify-center rounded-md bg-background px-4 py-2 text-sm font-medium hover:bg-accent hover:text-accent-foreground focus:bg-accent focus:text-accent-foreground disabled:pointer-events-none disabled:opacity-50 data-[active=true]:bg-accent/50 data-[state=open]:bg-accent/50 data-[active=true]:text-accent-foreground ring-ring/10 outline-ring/50 transition-[color,box-shadow] focus-visible:ring-4 focus-visible:outline-1 #{request.path == item[:href] ? 'text-neutral-900' : ''}" %>
            <% if request.path == item[:href] %>
              <div class="absolute bottom-0 left-0 h-0.5 w-full translate-y-px bg-black"></div>
            <% end %>
          </div>
        <% end %>
      </nav>
    </div>

    <!-- User Dropdown -->
    <div class="ml-auto flex items-center space-x-2">
      <% if @current_user %>
        <div class="relative">
          <button data-action="click->header#toggleDropdown" class="relative flex justify-center items-center size-10 rounded-full p-1 cursor-pointer">
            <%# <%= image_tag @current_user.avatar_url || "default-avatar.png", class: "size-8 rounded-full", alt: @current_user.username %>
            <%= tag.p @current_user.initials, class: "flex justify-center items-center size-8 rounded-full p-4 text-center align-middle border-2 border-gray-100 hover:bg-gray-100", alt: @current_user.email_address %>
          </button>
          <div data-header-target="dropdownMenu" class="bg-popover text-popover-foreground z-50 min-w-[8rem] overflow-hidden rounded-md border p-1 shadow-md absolute right-0 mt-2 hidden w-56 bg-white" data-transition-enter-from="opacity-0 scale-95" data-transition-enter-to="opacity-100 scale-100" data-transition-leave-from="opacity-100 scale-100" data-transition-leave-to="opacity-0 scale-95">
            <div class="px-2 py-1.5 text-sm font-medium data-[inset]:pl-8">
              <div class="flex items-center gap-2 px-1 py-1.5 text-left text-sm">
                <div class="relative flex size-8 shrink-0 overflow-hidden rounded-full">
                  <%= tag.p @current_user.initials, class: "flex justify-center items-center size-8 rounded-full p-2 text-center align-middle border-gray-100 bg-gray-100", alt: @current_user.email_address %>
                </div>
                <div class="grid flex-1 text-left text-sm leading-tight">
                  <span class="truncate font-medium"><%= @current_user.full_name %></span>
                  <span class="text-muted-foreground truncate text-xs"><%= @current_user.email_address %></span>
                </div>
              </div>
              <div class="border-b -mx-1 my-1 h-px"></div>
              <%= link_to "Dashboard", dashboard_path, class: "w-full text-left block px-2 py-1.5 text-sm text-neutral-700 hover:bg-gray-100 cursor-pointer rounded-md" %>
              <%= link_to "Roles", roles_path, class: "w-full text-left block px-2 py-1.5 text-sm text-neutral-700 hover:bg-gray-100 cursor-pointer rounded-md" %>
              <%= link_to "Settings", settings_profile_path, class: "w-full text-left block px-2 py-1.5 text-sm text-neutral-700 hover:bg-gray-100 cursor-pointer rounded-md" %>
              <div class="border-b -mx-1 my-1 h-px"></div>
              <%= button_to "Sign Out", session_path, method: :delete, class: "w-full text-left block px-2 py-1.5 text-sm text-neutral-700 hover:bg-gray-100 cursor-pointer rounded-md" %>
            </div>
          </div>
        </div>
      <% else %>
        <div class="flex items-center space-x-2"></div>
      <% end %>
    </div>
  </div>
</div>
