<%
  sidebar_nav_items ||= []
%>

<div class="w-full px-4 py-6">
    <% if content_for?(:section_header) %>
    <div class="mb-8 space-y-0.5">
        <h2 class="text-xl font-semibold tracking-tight"><%= content_for(:section_header) %></h2>
        <p class="text-muted-foreground text-sm"><%= content_for(:section_subheader) %></p>
    </div>
    <% end %>

    <div class="w-full flex flex-col lg:flex-row lg:space-x-12">
      <aside class="w-full max-w-xl lg:w-48">
        <nav class="flex flex-col space-y-1">
          <% sidebar_nav_items.each do |item| %>
            <% active = current_page?(item[:href]) %>
            <%= render "shared/components/ui/button", variant: "ghost", size: "sm", classes: "w-full cursor-pointer justify-start #{'bg-muted' if active}" do %>
              <%= link_to item[:href], class: "w-full text-left" do %>
                <%= item[:title] %>
              <% end %>
            <% end %>
          <% end %>
        </nav>

        <hr class="my-6 block lg:hidden bg-border h-px w-full shrink-0" />
      </aside>

      <div class="w-full flex-1 ">
        <section class="space-y-12"><%= yield %></section>
      </div>
    </div>
</div>
