<% content_for :title, "Organizations" %>

<%= render "shared/shells/admin_panel_shell" do %>
  <header class="w-full mb-6">
    <h3 class="mb-0.5 text-base font-medium">Organizations</h3>
    <p class="text-muted-foreground text-sm">See all Phoenix organizations</p>
  </header>

  <div
    class="container mx-auto w-full"
    data-controller="organizations--index"
    data-organizations--index-current-page-value="<%= @current_page %>"
    data-organizations--index-status-value="<%= @status_query %>"
  >
    <%= render "index_query" %>

    <!-- Table -->
    <div class="overflow-x-auto bg-white shadow rounded-lg">
      <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-50 text-left text-sm font-semibold text-gray-700">
          <tr>
            <th scope="col" class="px-6 py-3 text-left">Name</th>
            <th scope="col" class="px-6 py-3 text-center">Members</th>
            <th scope="col" class="px-6 py-3 text-right">Actions</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-100 text-sm text-gray-800">
          <% @organizations.each do |organization| %>
            <tr class="hover:bg-gray-50">
              <td class="px-6 py-4 text-left">
                <%= organization.name %>
              </td>
              <td class="px-6 py-4 text-center">
                <%= organization.users.size %>
              </td>
              <td class="px-6 py-4 space-x-2 text-right">
                <%= link_to "Show", organization_path(organization),
                  class: "text-emerald-600 hover:underline" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <!-- Pagination -->
    <div class="mt-6 flex justify-between items-center text-sm text-gray-700">
      <% if @current_page > 1 %>
        <span class="text-emerald-600 cursor-pointer hover:underline"
          data-action="click->organizations--index#handlePreviousButton"
        >← Previous</span>
      <% else %>
        <span class="text-gray-400">← Previous</span>
      <% end %>

      <span>
        <%= "Showing #{@start_number} to #{@end_number} of #{@total_organizations}" %>
      </span>

      <% if @current_page != @last_page %>
        <span class="text-emerald-600 cursor-pointer hover:underline"
          data-action="click->organizations--index#handleNextButton"
        >Next →</span>
      <% else %>
        <span class="text-gray-400">Next →</span>
      <% end %>
    </div>
  </div>
<% end %>
