<%= form_with model: [organization_membership.organization, organization_membership], local: true, builder: PhoenixFormBuilder, class: "flex w-full flex-col gap-6" do |form| %>
  <%
    input_group_classes = "grid gap-2"
    label_classes = "text-sm font-semibold text-neutral-800"
    input_classes = "rounded-lg border border-neutral-300 bg-white p-3 text-neutral-900 placeholder-neutral-400 transition focus:border-emerald-500 focus:ring-2 focus:ring-emerald-200 focus:outline-none"
  %>

  <div class="<%= input_group_classes %>">
    <%= form.label :role, class: "#{label_classes}" %>
    <%= form.dropdown :role, options: Role.where(scope: Constants::Roles::Scopes::ORGANIZATION).map { |role| [ role.humanize, role.id ]}, selected: organization_membership.role.id %>
    <% organization_membership.errors.full_messages_for(:role).each do |msg| %>
      <%= form.input_error :role, message: msg %>
    <% end %>
  </div>

  <div>
    <%= form.submit content_for(:action), class: "w-full cursor-pointer rounded-lg bg-emerald-600 text-white shadow-md hover:bg-emerald-700 disabled:bg-emerald-400" %>
  </div>
<% end %>


